* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    top: 30px;
    position: relative;
    margin: 0 auto;
    height: 960px;
    width: 960px;
}

.grid {
    outline: solid white;
}

#header {
    display: flex;
    margin: 20px;
    flex-direction: column;
    height: 200px;
}

#options {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

.options {
    margin: 20px 0px;
    width: 220px;
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    flex-direction: column;
    margin-block: 5px;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: rgb(red, green, blue);

    img {
        width: 50px;
        height: 50px;
    }
}