* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    top: 30px;
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    height: 960px;
    width: 960px;
}

.grid {
    outline: solid white;
}

#header {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    height: 200px;
}

#options {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    margin-block: 5px;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;

}