* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    top: 30px;
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    height: 960px;
    width: 960px;
}

.grid {
    outline: solid white;
}